.enrol-btn {
  background-color: #ffd700;
  width: 20%;
  transition: background-color 0.3s ease;
  width: fit-content;
  color: rgb(110, 72, 170);
  border: none;
  font-weight: 500;
  padding: 0.6rem 3rem;
  border: 2px solid rgb(110, 72, 170);
}
.enrol-btn:hover {
  background-color: #f8e576 !important;
}
.text-gradient {
  background: linear-gradient(90deg, var(--primary), var(--primary-light));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}